# Recommender System

- Target: Find The name of the most popular Restaurant (Place) -> Most reviewed

**Most Popular**
1. highes score
2. most visited (reviewed)

**Result**:
The most popular place is "......" which offers "....." cuisne with averate  rate score of "....."

In [1]:
import pandas as pd 
import numpy as np

# Load Data

In [5]:
df_rating = pd.read_csv("./dataset/rating_final.csv")
df_geo = pd.read_csv("./dataset/geoplaces2.csv", encoding= "CP1252")
df_cuisine = pd.read_csv("./dataset/chefmozcuisine.csv")

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

# Show Data

# Clean Data

# Aggregations